ARCADEIQ_DB_SERVER=localhost
ARCADEIQ_DB_PORT=1433
ARCADEIQ_DB_NAME=ArcadeIQ
ARCADEIQ_DB_USER=ArcadeIQApp
ARCADEIQ_DB_PASSWORD=change-me
ARCADEIQ_DB_ENCRYPT=false
ARCADEIQ_DB_TRUST_CERT=true

ARCADEIQ_SA_PASSWORD=change-this-strong-sa-password
